main {
  display: block;
  max-width: 1283px;
  margin: 0 auto;
}

section {
  @extend %region-padding;
}

.media {
  @extend %region-padding;
}

.recipe > h1 {
  @extend %region-padding;
}

footer {
  @extend %region-padding;
}

body {
  @include background-grid;
}

.ingredients {
  @include grid-span(2, 1);
}

.directions {
  @include grid-span(3, 3);
}

.media {
  @include grid-span(5, 6);
}